.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left{
        color: #fff;
        text-align: left;
        font-size: 36px;
    }
}

@media (max-width: 991px) {
    .title_left {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .title_left {
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    .title_left {
        font-size: 21px;
    }
}